@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS Website Layout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }

        /* Style the products */
        .header {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
        }

        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            /* Style the topnav home */
            .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                /* Change color on hover */
                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }
    </style>
</head>
<body>

    <div class="Shopping Zone">
        <h1>Shopping zone</h1>
    </div>

    <div class="topnav">
        <a href="#">home</a>
        <a href="#">products</a>
        <a href="#">price</a>
    </div>
    

    <div class="row">
        <div class="Laptops">
            <h2>Laptops</h2>
            <p>The history of laptops describes the efforts, begun in the 1970s,[1] to build small, portable personal computers that combine the components, inputs, outputs and capabilities of a desktop computer in a small chassis..</p>
        </div>

        <div class="Mobiles">
            <h2>Mobiles</h2>
            <p>A mobile phone, cellular phone, cell phone, cellphone, handphone, or hand phone, sometimes shortened to simply mobile, cell or just phone, is a portable telephone that can make and receive calls over a radio frequency link while the user is moving within a telephone service area.</p>
        </div>

        <div class="Airpods">
            <h2>Airpods</h2>
            <p>AirPods are wireless Bluetooth earbuds designed by Apple Inc. They were first announced on September 7, 2016 alongside the iPhone 7. Within two years, they became Apple's most popular accessory.[3][4] They are Apple's entry-level wireless headphones, sold alongside the AirPods Pro and AirPods Max.</p>
            </div>
        </div>
    
    </body>
    </html





